.site-state {
  overflow: hidden;
  line-height: 1.4;
  white-space: nowrap;
  text-align: $site-state-align;
}

.site-state-item {
  display: block;
  padding: 0 15px;
  margin: 10px 0;
  text-align: center;
  &:first-child { border-left: none; }

  a { border-bottom: none; }
}
.site-state-item a {
  line-height: 1;
}

.site-state-item-count {
  text-align: center;
  color: $site-state-item-count-color;
  font-weight: $font-weight-bold;
  font-size: $site-state-item-count-font-size;
  margin-right: 5px;
}

.site-state-item-name {
  font-size: $site-state-item-name-font-size;
  color: $site-state-item-name-color;
}
